# nsupdate.config

# Use IPv6 connection.
IPV6="NO"

# Login credentials for the inwx admin interface
INWX_USER="USERNAME"
INWX_PASS="PASSWORD"

# The hostname that you want to update and it's ID from the inwx interface.
# Note: You can get the domain ID while editing the given nameserver entry by
#       inspecting the target URL of the save button.
DOMAIN="DOMAIN"
INWX_DOMAIN_ID="123456789"
